

body {
    background-image: url(textura-castanho.webp);
    margin: 0px;
}

main {
    text-align: center;
}

h1 {
    background-color: rgba(255, 68, 0, 0.555);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 40px;
}


.bloco {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(235, 42, 106);
    width: 230px;
    height: 230px;
}

#b1 {
    background-image: url(mod\ trabalho.jpg);
    margin: 20px;
}

#b2 {
    background-image: url(mod\ luz.jpg);
    margin: 20px;
}

#b3 {
    background-image: url(modelo.jpg);
    margin: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    border-radius: 5px;
    

}